@tailwind base;
@tailwind components;
@tailwind utilities;
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

:root {
  /* colors */
  --primary-white: #f5f7fb;
  --background-gray: #0000001a;
  --secondary-500: #43425d;
  --red: #ff4a33;
  --transition: 0.3s ease-in-out all;
}
.div {
}
